.navbar {
  float: right;
  display: flex;
  gap: 20px;
  padding-top: 10px;
  padding-right: 70px;
}

a {
  text-decoration: none;
  color: black;
}

.clear {
  float: left;
  padding-top: 20px;
  padding-left: 70px;
  color: rgb(7, 7, 134);
  font-weight: 200;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Body {
  padding-top: 70px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  width: 90%;
}

.error,
.scheduled,
.pricing,
.testimonial,
.direct {
  padding-top: 70px;
  text-align: center;
}

.login1 {
  padding-top: 70px;
  padding-left: 50px;
}

span {
  color: red;
}

.btn {
  cursor: pointer;
  color: white;
  background-color: #e53229;
  border: transparent;
  border-radius: 40px;
  padding: 15px;
  width: 150px;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: rgb(223, 98, 98);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

#img1 {
  width: 150px;
  height: 100px;
  border-radius: 25px;
}

.img01 {
  padding-top: 180px;
}

#img4 {
  width: 200px;
  height: 150px;
  border-radius: 50px;
}

.img04 {
  padding-left: 200px;
  padding-top: 150px;
}

#img2 {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}

.img02 {
  padding-left: 60px;
}

#img3 {
  width: 400px;
  height: 150px;
  border-radius: 30%;
}

.img03 {
  padding-top: 50px;
  padding-left: 50px;
}

#img5 {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}
.img05 {
  padding-left: 100px;
  padding-top: 60px;
}

.set2 {
  display: flex;
}

.schedule {
  background-color: #ed9e9a;
  color: #c64d47;
  border: transparent;
  border-radius: 30px;
  padding: 10px;
}

.login {
  background-color: white;
  color: black;
  border: transparent;
  border-radius: 30px;
  padding: 10px;
  box-shadow: rgb(236, 223, 223) 2px 2px 2px 2px;
}

.home-nav,
.abt-nav {
  background-color: white;
  color: black;
  border: transparent;
  border-radius: 30px;
  padding: 10px;
}

.home-dir {
  padding-left: 150px;
}

.form {
  width: 90vw;
  max-width: 400px;
  background: rgb(234, 200, 200);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem 0;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: rgb(223, 98, 98);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}


@media screen and (min-width: 200px) and (max-width: 750px) {
  .navbar {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    padding-top: 10px;
    padding-right: 10px;
  }

  .Body {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: -70px;
    width: 100%;
  }

  .set2 {
    display: flex;
    flex-direction: column;
  }

  .home-text {
    margin-right: 50px;
    width: 100%;
  }

  .clear {
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(7, 7, 134);
    font-weight: 200;
    font-size: large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #img1 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img01 {
    width: 1px;
    height: 1px;
    display: none;
  }

  #img4 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img04 {
    width: 1px;
    height: 1px;
    padding-left: 10px;
    padding-top: 20px;
    display: none;
  }

  #img2 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img02 {
    width: 1px;
    height: 1px;
    display: none;
    padding-left: 1px;
  }

  #img3 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img03 {
    width: 1px;
    height: 1px;
    display: none;
    padding-left: 1px;
  }

  #img5 {
    width: 1px;
    height: 1px;
    display: none;
  }
  .img05 {
    width: 1px;
    height: 1px;
    display: none;
    padding-left: 1px;
  }

  .schedule {
    background-color: #ed9e9a;
    color: #c64d47;
    box-shadow: #ed9e9a 2px 2px 2px 2px;
  }

  .login {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 15px;
  }

  .home-nav,
  .abt-nav {
    background-color: white;
    color: black;
  }
  .form {
    width: 50vw;
    max-width: 400px;
    background: rgb(234, 200, 200);
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem 0;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  #img1 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img01 {
    width: 1px;
    height: 1px;
    display: none;
  }

  #img4 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img04 {
    width: 1px;
    height: 1px;
    display: none;
  }

  #img2 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img02 {
    width: 1px;
    height: 1px;
    display: none;
  }

  #img3 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .img03 {
    width: 1px;
    height: 1px;
    display: none;
  }

  #img5 {
    width: 1px;
    height: 1px;
    display: none;
  }
  .img05 {
    width: 1px;
    height: 1px;
    display: none;
  }

  .schedule {
    background-color: #ed9e9a;
    color: #c64d47;
  }

  .login {
    background-color: white;
    color: black;
  }

  .home-nav,
  .abt-nav {
    background-color: white;
    color: black;
  }
  .navbar {
    padding-top: 10px;
    padding-right: 5px;
  }

  .clear {
    color: rgb(7, 7, 134);
  }
  .Body {
    width: 100%;
    padding-left: 5px;
  }
}
